.smallCards {
  background: #161616fe;
  border-radius: 25px;
  padding: 30px;
  border: 2px solid #1f1e21;
}

.smallCards img {
  width: 40px;
  margin-bottom: 30px;
}

.smallCards h3 {
  font-size: 1.3rem;
}

.smallCards p {
  font-size: 1rem;
}

.cardContainer,
.cardInnerContainer,
.cardInnerContainer2 {
  border-radius: 14px;
  border: 2px solid #1f1e21;
}

.cardContainer {
  background: #161616fe;
  padding: 30px;
}

.cardInnerContainer {
  background: #161616fe;
  padding: 15px;
}
